<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs321.customstrength">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <!-- Requested Permission List -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Application Configuration -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity Screen -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- My Programs Section -->
        <activity
            android:name=".MyPrograms"
            android:label="@string/title_activity_my_programs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addProgram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".selectExercise" />

        <!-- Exercise Section -->
        <activity
            android:name=".AllExercises"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addCustomExercise"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Start Workout Section -->
        <activity
            android:name=".StartWorkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ValidateWorkout" />
        <activity android:name=".ExerciseInfo" />
        <activity android:name=".selectWorkout"></activity>
    </application>

</manifest>